* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f0f8ff, #e6f2ff);
    text-align: center;
    padding: 20px;
}
ul {
    list-style-type: none;
    margin: 10px 0;
}

ul li {
    padding: 8px;
    font-size: 18px;
}
img {
    width: 250px;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}
.login-box {
    background-color: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px gray;
}
.login-box button {
    background-color: #003366;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.login-box button:hover {
    background-color: #009caa;
}
hr {
    margin: 20px 0;
}
body {
    background-color: rgb(173, 211, 230);
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#f3e6ff, #8000ff6f);
    color: white;
    text-align: center;
    padding: 30px;
}
img {
    width: 250px;
    height: 180px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.167);
    transition: transform 0.3s;
}
ul {
    list-style-type: none;
    padding: 10px;
}

ul b {
    font-size: 20px;
    color: #34495e;
}
a {
    text-decoration: none;
    color: white;
    background-color:grey;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
}
